/* 设置背景色，清除缩进 */
body {
    text-indent: 0 !important;
    duokan-text-indent: 0 !important;
    word-wrap: break-word; /* 自动折行 */
}

/* color */
.bg-zhihu-blue-light {
    background-color: #428ECE;
}

.bg-zhihu-blue-deep {
    background-color: #3982C6;
}

.bg-duokan-yellow {
    /*多看阅读默认背景色*/
    background-color: #F7EFE7;
}

/* 清除浮动 */
div.clear-float {
    clear: both;
}

/* 隐藏空图片 */
img[src=''], img[src$='./images/'] {
    display: none;
}

.text-center {
    text-align: center;
}

.v-center {
    vertical-align: middle;
}

.margin-center {
    margin: 0 auto;
}

/* 目录页面 */
/* 隐藏多余的『目录』两字 */
div.index-content > li {
    display: none;
}

div.index-content a {
    font-size: 1em;
}

div.index-content ul > li > a {
    font-size: 1em;
    font-family: 'DK-HEITI', 'Microsoft Yahei', 微软雅黑, STHeiti, Hei, 'Heiti SC', 黑体;
    color: #3d3e45;
}

/* 首页描述信息 */
div.front-page.description {
    margin: 2em 0;
}

/* 评论信息 */
div.extra-info p {
    float: left;
}

div.extra-info p.update-date {
    float: right;
}

div.extra-info {
    margin: 1em 0;
}

/* 用户信息 */
div.author-base {
    margin: 1em 0;
    font-size: 16px;
    vertical-align: middle;
}

span.author-sign {
    margin-left: 1em;
    font-family: 'DK-KAITI', '楷体';
}

span.author-name a {
    /*font-family: 'DK-HEITI', 'Microsoft Yahei', 微软雅黑, STHeiti, Hei, 'Heiti SC', 黑体;*/
    color: #3d3e45;
    font-weight: bold;
}

div.author-logo {
    float: right;
}

div.author-logo img {
    vertical-align: middle;
    margin-left: 0.2em;
    margin-bottom: 0.2em;
}

/* 问题详情 */

/* 实现知乎周刊的全屏效果*/
@media handheld {
    div.question {
        margin: -10em -4em 0 -4em; /*上、右、下、左，顺时针*/
        padding: 10em 2em 0 4em;
    }
}

div.question-title {
    width: 100%;
    overflow: hidden;
}

div.question-title h1 {
    /*font-family: 'DK-HEITI', 'Microsoft Yahei', 微软雅黑, STHeiti, Hei, 'Heiti SC', 宋体;*/
    color: #FFFFFF;
    vertical-align: middle;
    text-align: left;
    padding: 1em;
    width: 70%;
    margin: 3em 0 3em 0;
    float: right;
    font-size: 1.5em;
}

@media handheld {
    div.question-title h1 {
        margin: 0 0 3em 0;
        padding-right: 3em;
    }
}

div.question-info {
    /*font-family: 'DK-SONGTI', 'Microsoft Yahei', 微软雅黑, STHeiti, Hei, 'Heiti SC', 宋体;*/
    color: #FFF !important;
    font-size: 1em;
    margin: 0 1em;
    padding-bottom: 1em;
}

@media handheld {
    div.question-info {
        margin: 0 -4em 0 -4em;
        padding: 0 5em 2em 5em;
    }
}

div.question-info a {
    color: #CCC;
}

/* 答案内容 */
div.content {
    /*font-family: 'DK-SONGTI', 'Microsoft Yahei', 微软雅黑, STHeiti, Hei, 'Heiti SC', 黑体;*/
    color: #000;
    font-size: 16px;
}

div.content img {
    max-width: 100%;
    margin-bottom: 2em;
}

/* article */
div.title-image {
    text-align: center;
}

div.title-image img {
    width: 100%;
}

/* 禁止信息页中的详情表格分页 */
div.front-page.detail-info table.margin-center {
    page-break-inside: avoid;
}

/* 禁止目录panel分页 */
div.index-content.panel {
    page-break-inside: avoid;
}










/*!* 原评论区css *!*/





/*#js_report_article3{display:none;} !* 举报   *!*/
/*#js_cmt_addbtn1{display:none;}     !* 留言   *!*/
/*#js_view_source{display:none;}     !* 原文   *!*/
/*#js_toobar3{display:none;}         !* 阅读数 *!*/

/*.discuss_list {*/
     /*margin-top: -5px;*/
     /*padding-bottom: 20px;*/
     /*font-size: 16px*/
 /*}*/

/*.discuss_item {*/
    /*position: relative;*/
    /*padding-left: 5px;*/
    /*margin-top: 6px;*/
    /**zoom: 1*/
/*}*/

/*.discuss_item:after {*/
    /*content: "\200B";*/
    /*display: block;*/
    /*height: 0;*/
    /*clear: both*/
/*}*/

/*.discuss_item .user_info {*/
    /*min-height: 20px;*/
    /*overflow: hidden*/
/*}*/

/*.discuss_item .nickname {*/
    /*display: block;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
    /*color: #727272;*/
    /*width: 9em;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*word-wrap: normal*/
/*}*/

/*.discuss_item .avatar {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*top: 0px;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*background-color: #ccc;*/
    /*vertical-align: top;*/
    /*margin-top: 0;*/
    /*border-radius: 0px;*/
    /*-moz-border-radius: 0px;*/
    /*-webkit-border-radius: 0px*/
/*}*/

/*.discuss_item .discuss_message {*/
    /*word-wrap: break-word;*/
    /*-webkit-hyphens: auto;*/
    /*-ms-hyphens: auto;*/
    /*hyphens: auto;*/
    /*overflow: hidden;*/
    /*color: #3e3e3e;*/
    /*line-height: 1.5*/
/*}*/

/*.discuss_item .discuss_extra_info {*/
    /*color: #8c8c8c;*/
    /*font-size: 12px*/
/*}*/

/*.discuss_item .discuss_extra_info a {*/
    /*margin-left: .5em*/
/*}*/

/*.discuss_item .discuss_status {*/
    /*color: #ff7a21;*/
    /*white-space: nowrap*/
/*}*/

/*.discuss_item .discuss_status i {*/
    /*font-style: normal;*/
    /*margin-right: 2px*/
/*}*/

/*.discuss_item .discuss_opr {*/
    /*float: right*/
/*}*/

/*.discuss_item .discuss_opr .meta_praise {*/
    /*display: inline-block;*/
    /*text-align: right;*/
    /*padding-top: 5px;*/
    /*margin-top: -5px*/
/*}*/

/*.discuss_item .discuss_opr .praise_num {*/
    /*-webkit-user-select: none;*/
    /*user-select: none*/
/*}*/

/*.discuss_item .discuss_del {*/
    /*margin-left: .5em*/
/*}*/

/*.discuss_icon_tips {*/
    /*margin-bottom: 20px*/
/*}*/

/*.discuss_icon_tips img {*/
    /*vertical-align: middle;*/
    /*margin-left: 3px;*/
    /*margin-top: -4px*/
/*}*/

/*.discuss_icon_tips .icon_edit {*/
    /*width: 12px*/
/*}*/

/*.discuss_icon_tips .icon_access {*/
    /*width: 13px*/
/*}*/

/*.reply_result {*/
    /*position: relative;*/
    /*margin-top: .5em;*/
    /*padding-top: .5em;*/
    /*padding-left: .4em*/
/*}*/

/*.reply_result:before {*/
    /*content: " ";*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*right: 0;*/
    /*height: 1px;*/
    /*border-top: 1px solid #dadada;*/
    /*-webkit-transform-origin: 0 0;*/
    /*transform-origin: 0 0;*/
    /*-webkit-transform: scaleY(0.5);*/
    /*transform: scaleY(0.5)*/
/*}*/

/*.reply_result .discuss_message {*/
    /*clear: both*/
/*}*/

/*.reply_result .nickname {*/
    /*position: relative;*/
    /*overflow: visible*/
/*}*/

/*.reply_result .nickname:before {*/
    /*content: " ";*/
    /*position: absolute;*/
    /*left: -0.4em;*/
    /*top: 50%;*/
    /*margin-top: -7px;*/
    /*width: 3px;*/
    /*height: 14px;*/
    /*background-color: #02bb00*/
/*}*/

/*.praise_num{display:inline-block;vertical-align:top}*/
/*.icon_praise_gray{background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAA+CAYAAAA1dwvuAAAACXBIWXMAAA7EAAAOxAGVKw4bAAACd0lEQVRYhe2XMWhUMRjHfycdpDg4iJN26CQih4NUlFIc3iTasaAO+iZBnorIId2CDg6PLqWDXSy0p28TJ6ejILgoKiLFSeRcnASLnDf2HPKll8b3ah5NQPB+cHzJl0v+73J5Sf6NwWCAD6kqxoEV4BywCTwA2j59V9QlxrxUNJeBOSkfBtaAHvDcp/O+GkJHJd4H7kr5nm/nOkJHJH4FHkv5WAyhUxLfAgelvBlUKFXFBNCU6oYl+j6oEHohADwFtoDTUn8dTChVxX7gjlSfSJyS+CaYEDCPXs4d4IXkzDR+8BWqfI9SVUyil/ENST20ml8BF4Afu4z9HT3V80B/TAY9CxTABNAHxp1Oj4B1q34dWAamGa5Al0PALfSs3TS/aE1EcERWgQXgozPIN+Ai6O2ljFQVM8BLZJqN0KTEhgj9kvrViqf1wYz5BcoXQ38Pg9uckfiuSigU0xLXowmlqpgCjgNd4FM0IeCKxGcmEUtoRqLZScILpaqYA06iN9/tTTfGLzKvxLKdDCqUquIEcB59xK9GE2J4xLeBn3ZD1abaq/sQqSpmgWvo82rBbTdCPeAA4N69/noXS1XhphaBz27SPPVtapz/FXSBFsNDcgcN3wvkiBEjRoSndAtqLXXKvuvtYfMs+SP3T3tYm6ge1iaqh7UJ62HRTqNZko/mYV3CeVjA9rAuUTxsGd4edrcX1vWwddn2sHmWaA/bWuq4HnYLff3aC7U8bAiaMPyPJp3GhnxCUOlhQxPdwxrieViLbp4lUT2sIbqHNcTzsBYbeZZE9bCGeB7WIrqHNbTzLNnhYWMIlXpYI9Rz8gM8/GsFi3mW/Ace9jf8QZwIX5o4uQAAAABJRU5ErkJggg==) no-repeat 0 0;width:13px;height:13px;vertical-align:middle;display:inline-block;-webkit-background-size:100% auto;background-size:100% auto}*/
/*.icon_praise_gray.praised{background-position:0 -18px}*/
/*.praised .icon_praise_gray{background-position:0 -18px}*/


